html,
body {
    text-align: center;
    width: 100%;
    height: 100%;
}

body {
    background-image: url("images/phy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1900px 990px;
    overflow: hidden;
}

#content {
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    font-weight: bolder;
}



main {
    padding: 1rem;
    align-self: center;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

header {
    padding: 1rem;

}

#button {
    font-size: 17px;
    width: 150px;
    height: 75px;
    font-family: 'Montserrat', sans-serif;
    border: 5px solid black;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

#button:hover {
    border: 5px solid black;
    background-color: black;
    color: white;

}

footer {

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 1rem;
    font-style: italic;
}
